<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="hero">
    <h1>Your Wishlist Places</h1>
    <div class="card-deck">
        <div class="card" style="width:100px; height:200px;" >
          <div class="card-body" class=rounded-circle> <img src="./assets/1card.jpg" alt="no img" width="100%" height="100%" ></div> 
          <div class="card-footer"><pre><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>                 <span><i class="far fa-heart"></i></span></pre></div>
      </div>
        <div class="card" style="width:100px; height:200px;" >
          <div class="card-body" class=rounded-circle> <img src="./assets/1mg14b.png" alt="no img" width="60%" height="65%" ></div> 
          <div class="card-footer"><pre><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></pre></div>
      </div>
        <div class="card" style="width:100px; height:200px;" >
         <div class="card-body" class=rounded-circle> <img src="./assets/img13b.png" alt="no img" width="60%" height="65%" >
        </div>
          <div class="card-footer"><pre><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></pre></div>
      </div>
      <div class="card" style="width:100px; height:200px;" >
        <div class="card-body"class=rounded-circle> <img src="./assets/img14b.png" alt="no img" width="60%" height="65%" ></div> 
        <div class="card-footer"><pre><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></pre></div>
    </div>
    <div class="card" style="width:100px; height:200px;" >
        <div class="card-body"class=rounded-circle> <img src="./assets/img15b.png" alt="no img" width="60%" height="65%" ></div> 
        <div class="card-footer"><pre><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></pre></div>
    </div>
    </div>
    <h1>All palces</h1>
    <div class="card-deck">
        <div class="card"style="width:100px; height:200px;">
          <div class= "card-header"class=rounded-circle> <img src="./assets/img16b.png" alt="no img" width="60%" height="90%" ></div> 
          <div class="card-footer"><pre><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></pre></div>
      </div>
        <div class="card" style="width:100px; height:200px;" >
          <div class="card-body"class=rounded-circle> <img src="./assets/img17b.png" alt="no img" width="90%" height="90%" ></div> 
          <div class="card-footer"><pre><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></pre></div>
      </div>
        <div class="card" style="width:100px; height:200px;" >
         <div class="card-body"class=rounded-circle> <img src="./assets/img18b.png" alt="no img" width="60%" height="60%" ></div> 
          <div class="card-footer"><pre><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></pre></div>
      </div>
      <div class="card" style="width:100px; height:200px;" >
        <div class="card-body"class=rounded-circle> <img src="./assets/img19b.png" alt="no img" width="60%" height="60%" ></div> 
        <div class="card-footer"><pre><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></pre></div>
    </div>
    <div class="card" style="width:100px; height:200px;" >
        <div class="card-body"class=rounded-circle> <img src="./assets/img20b.png" alt="no img" width="60%" height="60%" ></div> 
        <div class="card-footer"><pre><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></pre></div>
    </div>
    </div>
</div>
</body>

<footer>
  <div class="container-fluid">
    <div class="row py-1">
         <div class="col-lg-12 text-white text-center">
           <div class="row">
             <div class="col-sm-3">Contact info<br/><br/>
              <i class="fas fa-map-marker-alt"></i>Redbrige-Amalapuram<br/><br/>
               <i class="fas fa-envelope"></i>teja128ce@gmail.com<br/><br/>
               <i class="fas fa-phone-alt"></i>9392204155<br/><br/>
             </div>
             <div class="col-sm-3"><i class="fas fa-map-marker-alt"></i> Branch Locations<br/><br/>
              Hyderabad<br/><br/>
             Mumbai<br/><br/>
             Banglore<br/></div>
             <div class="col-sm-3">Follow Us<br/><br/>
              <i class="fab fa-instagram"></i>Instagram<br/><br/>
              <i class="fab fa-twitter"></i>twitter<br/><br/>
              <i class="fab fa-facebook-square"></i>Facebook<br/><br/>
            </div>
             <div class="col-sm-3"><i class="fas fa-building"></i>Company policies<br/><br/>
              GST details<br/><br/>
            Terms & Conditions<br/><br/></div>
           </div>
   <p class="lead py-3"><i class="far fa-copyright"></i>Copy rights resevered by Tj</p>
   </div>
    </div>  
  </div>
  </footer>
</html>
<router-outlet></router-outlet>