<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="hero">
  <div class="content">
    
  <ul>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
  </ul>
  
  <div class="text">
    <h2 class="logo">My<span>travelling</span></h2>
    <small>let's</small>
    <h1>Plan your own travel</h1>
    <a routerLink='/other'><!----Spa not--open anothertab by url & <body ng-app>
      <button type="submit" ng-click="onClickForm()" ng-show="!showForm"> 
         Next 
      </button> 
      --------2one-------------       
      <form ng-show="showForm">
         First Name: <input type="text" ng-model="firstname">
      </form>  -->
      <button type="button">TRAVEL NOW!</button>
      </a><!---on click event ---->
  </div>

  
 

    <div class="social">
      Let's connect
  <li><a href="https://chat.whatsapp.com/HE18NeQmdubIvHMvkMzs6V"><i class="fab fa-whatsapp"></i></a></li>
   <a href="https://www.linkedin.com/in/teja-g-0b261b19b"> <i class="fab fa-linkedin"></i></a>
     </div>
  </div>

</div>
</body>

<footer>
  <div class="container-fluid">
    <div class="row py-1">
         <div class="col-lg-12 text-white text-center">
           <div class="row">
             <div class="col-sm-3">Contact info<br/>
              <br/>
              <i class="fas fa-map-marker-alt"></i>  Redbrige-Amalapuram<br/><br/>
               <i class="fas fa-envelope"></i>  teja128ce@gmail.com<br/><br/>
               <i class="fas fa-phone-alt"></i>  9392204155<br/><br/>
             </div>
             <div class="col-sm-3"><i class="fas fa-map-marker-alt"></i> Branch Locations<br/><br/>
              Hyderabad<br/><br/>
             Mumbai<br/><br/>
             Banglore<br/><br/>
            </div>
             <div class="col-sm-3">Follow Us<br/><br/>
              <i class="fab fa-instagram"></i>  Instagram<br/><br/>
              <i class="fab fa-twitter"></i>  twitter<br/><br/>
              <i class="fab fa-facebook-square"></i>  Facebook<br/><br/></div>
             <div class="col-sm-3"><i class="fas fa-building"></i> E-B-Company <br/><br/>
              GST details<br/><br/>
            Terms & Conditions<br/><br/>
            Company policies</div><br/>
           </div>
           
   <p class="lead py-3"><i class="far fa-copyright"></i>  Copy rights resevered by Tj-
   <!--Date: {{today}}
      Date with pipes:---> {{today | date}}
  </p>
   </div>
    </div>  
  </div>
  </footer>
</html>


<router-outlet></router-outlet>